.fotoProduto{
    max-width: 30%;
    border-radius: 99999px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    margin-left: 1rem;
    margin-top: 1rem;
    }
.divProdutos {
    display:flex;
    flex-wrap:wrap ;
    place-content: center;
    min-width: fit-content;
    
}
.logoGQF{
    size-adjust: 50;
}
.presentation{
    display:flex;
}
h1{
    color: gray;
}