.nomeGabi{
height: 50px;

}

.graduate {
    display: flex;
    width: 50%;
    padding-left: 50px;
}

.graduateSection{
    display: flex;
    margin-right: -300px;
    padding-top: 100px;
}

.header{
    display:flex;
    align-items: center;
}


.entrepeneur {
    display: flex;
    width: 70%;
    
}

.entrepeneurSection{
    display: flex;
    padding-top: 100px;
}


.developer {
    display: flex;
    width: 80%;
    
}

.developerSection{
    display: flex;
    padding-top: 100px;
}

.allJobs{
    align-items: baseline;
    display: flex;
    justify-content: center;
}

.contact{
    align-items: baseline;
    display:flex;
    width:100px;
}

.insta{
    width: 50%;
}

.instaSection{
    display:flex;
    margin-right: -15px;
    padding: 0;
}

.linkedinSection{
    display:flex;
    margin-right: -20px;
    padding: 0;

}

.githubSection{
    display:flex;
    margin-right: -20px;
    padding: 0;
}

.linkedin{
    width: 50%;
}

.github{
    width: 50%;

}

.logoGQF {
    width: 20%;

}
footer{
    bottom: 0;
    display:flex;
    color:gray;
    place-content: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}